<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
        href="css/style.css">
</head>

<body>

{# Selection Page #}
    <div id="questionMenu" class="fullscreen-div active">
    <div class="container text-center">
        <div class="row">
            {% for question in range(1, MAX_QUESTIONS + 1) %}
                <div class="col-4">
                    <div class="tile">
                        <button class="btn btn-primary" onclick="transition('questionMenu', 'q{{question}}', 'forward')">
                        <div>{{ question }}</div>
                            <div class="circles">
                                <div class="circle"><i class="bi bi-x"></i></div>
                                <div class="circle"><i class="fas fa-times"></i></div>
                                <div class="circle"><i class="fas fa-times"></i></div>
                            </div>
                        </button>
                    </div>
                </div>
            {% endfor %}
            <div class="info">
                <p>Select a question to solve it.</p>
            </div>
        </div>
    </div>
    </div>

{# Question pages #}
{% for question in range(1, MAX_QUESTIONS + 1) %}
    <div id="q{{question}}" class="fullscreen-div">
        <div class="container text-center">
            <div class="row gy-5">
                <button class="btn btn-primary rounded-circle" onclick="transition('q{{question}}', 'questionMenu','back')">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>
            <div class="row gy-5">
                <div class="col-12">
                    <h3>Question {{ question }}</h3>
                </div>
            </div>

            {% for alternative in ['A', 'B', 'C', 'D'] %}
            <div class="row gy-5">
                <div class="col-12">
                    <button id="buttonA" class="btn btn-primary btn-block alternativeButton" data-id="{{question}}{{alternative}}">{{alternative}}</button>
                </div>
            </div>
            {% endfor %}
            
            <div class="row gy-5">
                <div class="col-12">
                    <div class="info">
                        <p>Find the best answer. Long-press an alternative. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/buttons.js"></script>
</body>

</html>